<#include "/common/style.ftl"/>
<body class="white-bg">
<div class="container-div clearfix">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-recourseType-edit" >
            <div class="form-group">
                <label class="col-sm-3 control-label">名称：</label>
                <div class="col-sm-8">
                    <input id="name" name="name" value="${recourseType.name}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">排序：</label>
                <div class="col-sm-8">
                    <input id="order" name="order" value="${recourseType.order}" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input id="remark" name="remark" value="${recourseType.remark}" class="form-control" type="text">
                    <input id="id" name="id" type="hidden" value="${recourseType.id}">
                </div>
            </div>
            <#--<input id="id" name="id"-->
                   <#--value="${id}" type="hidden">-->
            <#--<div class="form-group">-->
                <#--<label class="col-sm-3 control-label">：</label>-->
                <#--<div class="col-sm-8">-->
                    <#--<input id="name" name="name"-->
                           <#--value="${recourseType.name}" class="form-control"-->
                           <#--type="text">-->
                <#--</div>-->
            <#--</div>-->
            <#--<div class="form-group">-->
                <#--<label class="col-sm-3 control-label">：</label>-->
                <#--<div class="col-sm-8">-->
                    <#--<input id="tcId" name="tcId"-->
                           <#--value="${recourseType.tcId}" class="form-control"-->
                           <#--type="text">-->
                <#--</div>-->
            <#--</div>-->
            <#--<div class="form-group">-->
                <#--<label class="col-sm-3 control-label">：</label>-->
                <#--<div class="col-sm-8">-->
                    <#--<input id="order" name="order"-->
                           <#--value="${recourseType.order}" class="form-control"-->
                           <#--type="text">-->
                <#--</div>-->
            <#--</div>-->
        </form>
    </div>
</div><!--/.container-div-->
<#include "/common/stretch.ftl"/>
<script type="text/javascript">
    $(function () {
        $.common.initBind();
    });
    let prefix = "${ctx}/recourse/type/${id}";
    $("#form-recourseType-edit").validate({
        rules: {
            name: {
                required: true
            },
            order: {
                required: true
            },
            remark: {
                required: true,
            }
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.saveModal(prefix + "/edit", $('#form-recourseType-edit').serialize());
        }
    }
</script>
</body>