<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
			<span class="bigger-120">
				<span class="blue bolder">智慧教育云服务平台</span>
				版权所有 | 后台管理
			</span>

            &nbsp; &nbsp;
            <span class="action-buttons">
				<a href="#">
					<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
				</a>

				<a href="#">
					<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
				</a>

				<a href="#">
					<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
				</a>
			</span>
        </div>
    </div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
<#include "/common/stretch.ftl"/>