<#include "/common/style.ftl"/>
<body class="white-bg">
<div class="container-div clearfix">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-websocket-edit" >
            <input id="id" name="id"
                   value="${id}" type="hidden">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">名字：</label>
                        <div class="col-sm-8">
                            <input id="name" name="name"
                                   value="${websocket.name}" class="form-control"
                                   type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">试卷或者章节的ID：</label>
                        <div class="col-sm-8">
                            <input id="tcId" name="tcId"
                                   value="${websocket.tcId}" class="form-control"
                                   type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">考生ID：</label>
                        <div class="col-sm-8">
                            <input id="stuId" name="stuId"
                                   value="${websocket.stuId}" class="form-control"
                                   type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">考生学号：</label>
                        <div class="col-sm-8">
                            <input id="stuNum" name="stuNum"
                                   value="${websocket.stuNum}" class="form-control"
                                   type="text">
                        </div>
                    </div>
        </form>
    </div>
</div><!--/.container-div-->
<#include "/common/stretch.ftl"/>
<script type="text/javascript">
    $(function () {
        $.common.initBind();
    });
    let prefix = "${ctx}/school/onlineExam/websocket"
    $("#form-websocket-edit").validate({
        rules: {
            xxxx: {
                required: true,
            },
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.saveModal(prefix + "/edit", $('#form-websocket-edit').serialize());
        }
    }
</script>
</body>