<#include "/common/courseui.ftl"/>
<@courseLayout  "我的课程" "wstom-首页" "wstom-社区" "分享让世界更美好">
    <div class="page-content">
        <#--div class="page-header">
            <h1>
                Dashboard
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    overview &amp; stats
                </small>
            </h1>
        </div><!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12" id="main-page-container">
            </div>
        </div><!-- /.row -->
    </div><!-- /.page-content -->

</@courseLayout>